
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next
/out

# Production
/build

# Other
.DS_Store
*.pem

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Turborepo
.turbo

# IDE
.vscode/

# Genkit
.genkit/
.genkit-cache/
