@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    --primary: 45 100% 51%;
    --primary-foreground: 0 0% 10%;
    --secondary: 220 14% 96%;
    --secondary-foreground: 220 9% 46%;
    --muted: 220 14% 96%;
    --muted-foreground: 220 9% 46%;
    --accent: 220 14% 96%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 45 100% 51%;
    --sidebar: 220 14% 96%;
    --sidebar-foreground: 20 90% 48%;
    --sidebar-accent: 220 13% 91%;
    --sidebar-accent-foreground: 20 90% 38%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 20 90% 48%;
    --chart-1: 45 100% 51%;
    --chart-2: 24 95% 53%;
    --chart-3: 45 95% 53%;
    --chart-4: 198 93% 60%;
    --chart-5: 41 93% 52%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 24 95% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 45 95% 53%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 24 95% 53%;
    --chart-1: 222.2 47.4% 11.2%;
    --chart-2: 24 95% 53%;
    --chart-3: 45 95% 53%;
    --chart-4: 198 93% 60%;
    --chart-5: 41 93% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans font-semibold;
  }
}

@layer utilities {
  .bg-glass {
    @apply bg-white/50 backdrop-blur-lg;
  }
}
